{{ define "nav" }}

<nav class="navbar bg-transparent fixed top-0 left-0 z-50">

  <div x-data="{ open: false }" class="flex-none dropdown">
    <button x-on:click="open = ! open" class="btn btn-square btn-ghost bg-base-100">
      <i class="fa-solid fa-bars"></i>
    </button>
    <ul x-show="open" tabindex="0"
      class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
      <li class="p-1"><a href="/">home</a></li>
      <li class="p-1">
        <a x-on:click="open = ! open" href="/about">about</a>
      </li>
      <li class="p-1">
        <a x-on:click="open = ! open" href="/contact">contact</a>
      </li>
      <li class="p-1">
        <a x-on:click="open = ! open" href="/gallery">gallery</a>
      </li>
      <li class="p-1">
        <a x-on:click="open = ! open" href="/blog">blog</a>
      </li>
    </ul>
  </div>

  <div class="flex-1">
  </div>

  <div x-data="{ open: false }" class="flex-none dropdown dropdown-end">
    <button x-on:click="open = ! open" class="btn btn-square btn-ghost bg-base-100">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
    <ul x-show="open" tabindex="0"
      class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
      <li class="p-1">
        <a x-on:click="open = ! open" class="justify-between">
          Profile
          <span class="badge">New</span>
        </a>
      </li>
      <li class="p-1"><a x-on:click="open = ! open">Settings</a></li>
      <li class="p-1"><a x-on:click="open = ! open" href="/login">Login</a></li>
    </ul>
  </div>

</nav>

{{ end }}
