<div x-data="{ open: true }">
  <div x-show="open" @click="open = false" role="alert" class="alert alert-warning"
    x-transition:enter="transition ease-out duration-300 transform"
    x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
    x-transition:leave="transition ease-in duration-200 transform"
    x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
    x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <span>{{ .Message }}</span>
  </div>
</div>
