{{ define "metaTags" }}
<meta name="hello" content="hello">
{{ end }}

{{ define "title" }}_Blog{{ end }}

{{ define "header" }}
<header class="hero h-[60vh]" style="background-image: url({{ .ImageURL }});">
  <div class="hero-overlay bg-opacity-60 relative"></div>
  <div class="hero-content text-center text-neutral-content relative">
    <div class="max-w-md">
      <h1 class="mb-5 text-orange-300 text-5xl font-bold">{{ .Title }}</h1>
      <p class="mb-1">{{ .Summary }}</p>
      <p class="mb-1 text-blue-300">
        Posted:
        <span x-data="{ date: new Date(Date.parse($el.innerText)).toDateString() }" x-text="date">
          {{ .DatePosted }}
        </span>
      </p>
      <a class="btn btn-primary" href="/blog/posts/s/{{ .Slug }}">Read More</a>
    </div>
  </div>
</header>
{{ end }}

{{ define "content" }}
<section class="container grid grid-cols-3 gap-8 my-8 mx-auto">
  {{ range .Posts }}
  <div class="card w-96 bg-base-100 shadow-xl image-full">
    <figure><img src="{{ .Article.ImageURL }}" alt="" /></figure>
    <div class="card-body">
      <h2 class="card-title">{{ .Article.Title }}</h2>
      <p class="mb-1 text-blue-300">
        Posted:
        <span x-data="{ date: new Date(Date.parse($el.innerText)).toDateString() }" x-text="date">
          {{ .Article.DatePosted.Time }}
        </span>
      </p>
      <p>{{ .Article.Summary }}</p>
      <div class="card-actions justify-end">
        <a href="/blog/posts/s/{{ .Article.Slug }}" class="btn btn-secondary">Read More</a>
      </div>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
