{{ define "metaTags" }}
<meta name="hello" content="hello">
{{ end }}

{{ define "title" }}_Contact{{ end }}

{{ define "header" }}
<header class="hero h-[60vh]" style="background-image: url({{ .ImageURL }});">
  <div class="hero-overlay bg-opacity-60 relative"></div>
  <div class="hero-content text-center text-neutral-content relative">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">_Contact Us</h1>
      <p class="mb-5">Get in contact with us.</p>
    </div>
  </div>
</header>
{{ end }}

{{ define "content" }}

<section class="container grid grid-cols-1 mx-auto p-16 gap-8 max-w-2xl">
  <h1 class="text-2xl text-orange-500">{{ .Text }}</h1>
  <form hx-post="/contact/submit">
    <label class="input input-bordered flex items-center gap-2 my-4">
      Name
      <input id="name" name="name" type="text" class="grow" required />
    </label>
    <label class="input input-bordered flex items-center gap-2 my-4">
      Email
      <input type="email" id="email" name="email" class="grow" required />
    </label>

    <textarea placeholder="Message" id="message" name="message"
      class="textarea textarea-bordered textarea-md w-full my-4" required></textarea>
    <br>
    <button type="submit" class="btn btn-primary my-4">Send</button>
  </form>
</section>

{{ end }}
