{{ define "metaTags" }}{{ end }}
{{ define "title" }}{{ .Title }}{{ end }}
{{ define "nav" }}{{ end }}
{{ define "header" }}{{ end }}

{{ define "content" }}
<div class="flex min-h-screen flex-row bg-gray-100 text-gray-200">
  <aside
    class="sidebar w-48 -translate-x-full transform bg-gray-800 p-4 transition-transform duration-150 ease-in md:translate-x-0 md:shadow-md">
    <div class="my-4 w-full text-center">
      <span class="text-xl font-bold">{{ .Title }}</span>
    </div>
    <div class="my-4">
      <div role="button" tabindex="0"
        class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <div class="grid place-items-center mr-4">
          <i class="fa-solid fa-house"></i>
        </div>
        Home
      </div>
      <div role="button" tabindex="0" hx-get="/dashboard/posts" hx-target="#dashboard"
        class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-blue-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <div class="grid place-items-center mr-4">
          <i class="fa-solid fa-newspaper"></i>
        </div>
        Blog
      </div>
      <div role="button" tabindex="0" hx-get="/dashboard/gallery" hx-target="#dashboard"
        class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-blue-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <div class="grid place-items-center mr-4">
          <i class="fa-solid fa-image"></i>
        </div>
        Gallery
      </div>
      <div role="button" tabindex="0"
        class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-blue-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <div class="grid place-items-center mr-4">
          <i class="fa-solid fa-gear"></i>
        </div>
        Settings
      </div>
      <div role="button" tabindex="0"
        class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-blue-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
        <div class="grid place-items-center mr-4">
          <i class="fa-solid fa-power-off"></i>
        </div>
        Log Out
      </div>
    </div>
  </aside>
  <section id="dashboard" class="main -ml-48 p-4 transition-all duration-150 ease-in md:ml-0">
    <div
      class="flex h-full items-center justify-center bg-white text-gray-800 text-center text-5xl font-bold shadow-md">
      Dashboard Content
    </div>
  </section>
</div>


{{ end }}

{{ define "footer"}}
<div class="w-full pt-5 px-4 mb-8 mx-auto ">
  <div class="text-sm text-gray-200 py-1">
    Made by <a href="#" class="text-gray-400 font-semibold" target="_blank">Travis Avey</a>.
  </div>
</div>
{{ end }}
