<h2 class="m-4 text-xl text-gray-800">Number of Images: {{ .NumImages }}</h2>
<button class="btn btn-success text-white p-1 mb-4" hx-get="/dashboard/gallery/create" hx-target="#dashboard">
  New Image
</button>
<div class="grid grid-cols-3 gap-4 content-start">
  {{ range .Images }}
  <div class="card w-96 bg-gray-800 shadow-xl">
    <figure><img src="{{ .Image.ImageURL }}" alt="" /></figure>
    <div class="card-body">
      <h2 class="card-title">
        {{ .Image.Title }}
      </h2>
      <p>{{ .Image.Summary }}</p>
      <div class="card-actions justify-start">
        <p class="text-gray-300 font-extralight">Categories:</p>
        {{ range .Categories }}
        <div class="badge badge-outline">{{ .Category }}</div>
        {{ end }}
      </div>
      <div class="card-actions justify-end" x-data="{ showImage: false, imageUrl: '', imageDesc: '', imageTitle: '' }">
        <a @click="showImage = true; imageUrl = '{{ .Image.ImageURL }}'; imageDesc = '{{ .Image.Summary }}'; imageTitle = '{{ .Image.Title }}'"
          class="btn btn-success">
          View
        </a>
        <a hx-get="/dashboard/gallery/{{ .Image.ID }}" hx-target="#dashboard" class="btn btn-warning">Update</a>
        <button class="btn btn-error" onclick="showDeleteDialog({{ .Image.ID }})">Delete</button>
        <dialog id="modal_{{ .Image.ID }}" class="modal" role="dialog">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Delete Image: {{ .Image.Title }}</h3>
            <p class="py-4">Are you sure? This cannot be undone and this image will be gone forever</p>
            <div class="modal-action">
              <button class="btn btn-info" onclick="closeDeleteDialog({{ .Image.ID }})">Cancel</button>
              <button hx-delete="/gallery/{{ .Image.ID }}" class="btn btn-error">Delete</button>
            </div>
          </div>
        </dialog>
        <div x-show="showImage" class="fixed inset-0 transition-opacity z-10" aria-hidden="true"
          @click="showImage = false">
          <div class="absolute inset-0 bg-black opacity-75"></div>
          <div x-show="showImage" x-transition:enter="transition ease-out duration-300 transform"
            x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave="transition ease-in duration-200 transform"
            x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            class="fixed z-20 inset-0 overflow-y-auto" x-cloak>
            <img @click="showImage = false" class="mt-16 h-auto max-w-lg mx-auto" :src="imageUrl" :alt="imageDesc">
            <p class="mx-auto max-w-lg m-4 text-white text-xl text-center" x-text="imageTitle"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>
